{% extends 'base.html' %}
{% block title %}Моя компания | Джуманджи{% endblock %}
{% block style %}
<style>
    body {
      background-color: #F6F2E6;
    }
</style>
{% endblock %}

{% block container %}
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" href="{% url 'my-company' %}">1. Информация о&nbsp;компании</a>
              <a class="nav-link" href="{% url 'my-vacancies' %}">2. Вакансии</a>
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Информация о&nbsp;компании</h2>
                {% if message %}
                  <p class="alert {{ message.type }}" role="alert">
                    {{ message.text }}
                  </p>
                {% endif %}
              <form method="post" action="{% url 'my-company' %}" enctype="multipart/form-data">{% csrf_token %}
                <input type="hidden" name="form_action" value="{{ form_action }}">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="companyName">Название компании</label>
                      <input class="form-control" type="text" name='name' value="{{ company.name }}" id="companyName">
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label class="mb-2 text-dark" for="companyLogo">Логотип</label>
                      <div class="row align-items-center">
                        <div class="col-6">
                            {% if company.logo %}
                                <img src="{{ company.logo.url }}" alt="" style="max-width: 120px;height: auto;">
                            {% else %}
                                <img src="https://place-hold.it/120x40" alt="" style="max-width: 120px;height: auto;">
                            {% endif %}
                        </div>
                        <div class="col-6" style="position: relative;">
                          <div class="input-group-prepend" style="position: absolute; top: 0;right: 15px;">
                            <span class="btn btn-info px-4">Загрузить</span>
                          </div>
                          <div class="custom-file" style="">
                            <input type="file" class="custom-file-input" name='logo' id="inputGroupFile01">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="companyTeam">Количество человек в компании</label>
                      <input class="form-control" type="text" name='employee_count' value="{{ company.employee_count }}" id="companyTeam">
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="companyLocation">География</label>
                      <input class="form-control" type="text" name='location' value="{{ company.location }}" id="companyLocation">
                    </div>
                  </div>
                </div>
                <div class="form-group pb-2">
                  <label class="mb-2 text-dark" for="companyInfo">Информация о&nbsp;компании</label>
                  <textarea class="form-control" rows="4" id="companyInfo" name='description' style="color:#000;">{{ company.description }}</textarea>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
{% endblock %}