{% extends 'base.html' %}
{% block title %}Авторизация | Джуманджи{% endblock %}

{% block container %}
    <div class="row">
      <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        <form action='{% url "login" %}' method='post' class="form-signin pt-5">
            {% csrf_token %}
          <div class="text-center mt-5 b-1">

            <h1 class="h3 mb-3 font-weight-normal">Джуманджи</h1>
              {% if message %}
                  <p class="h5 font-weight-light" style="color: #006fe7">{{ message }}</p>
              {% endif %}
            <p class="h5 font-weight-light">Войдите, чтобы управлять</p>
          </div>
          <div class="mt-5 form-label-group">
            <p class="text-muted">Логин</p>
            <input type="text" name="username" id="inputEmail" value="{{ username }}" class="form-control" required autofocus>
            <label for="inputEmail"></label>
          </div>
          <div class="form-label-group">
            <p class="text-muted"> Пароль</p>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
            <label for="inputPassword"></label>
          </div>
          <div class="checkbox mb-3"></div>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Войти</button>
          <div class="text-center mt-3 b-1">
            <p class="h5 font-weight-light">Нет аккаунта? <a href="{% url 'register' %}"><strong>Зарегистрируйтесь!</strong></a></p>
          </div>
        </form>
      </div>
    </div>
{% endblock %}